.bioDiv {
    width: 70vw;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introDiv {
    margin-top: 20px;
    width: inherit;
    height: 30vw;
    max-height: 250px;
    max-width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.introDiv .hello {
    width: 40%;
    font-size: 40px;
    font-size: calc(2rem + 3vw);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    align-items: center;


}
@media only screen and (min-width: 1000px) {
    .introDiv .hello {
        font-size: 60px !important;
    }

}

#portrait {
    border-radius: 15vw;
    max-width: 250px;
    max-height: 250px;
    border: 10px solid #70756d;
    margin: 3%;
}

.bio {
    font-size: 30px;
}
@media only screen and (max-width: 550px) {
    .introDiv {
        flex-direction: column;
        align-items: center;
        height: auto !important;
    }
    .hello {
        width: 100% !important;
    }
    #portrait {
        width: 160px;
        height: 160px;
        border-radius: 90px;
    }
    .bio {
        font-size: 27px !important;
    ;
    }
}
