html,
body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #9CA39B;
    margin: 0;
    font-family: 'Roboto Flex';
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: lighter;
}
.nav a {
    padding: 15px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

.clickable:hover {
    background-color: #adb6ac;
}

.footer {
    height: 80px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-rec {
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0px;
    background-color: #8d9489;;
    border-radius: 50px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop {
    background-color: antiquewhite;
    margin: 30px;
    padding-right: 20px;
    width: 100%;
    height: auto;
    min-height: 90vh;
    border-radius: 50px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
}

.contact-elements {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 60px;
}

@media only screen and (max-width: 650px) {
    .contact-elements {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        text-align: center;
        margin-top: 60px;
    }
    .contact-elements h1 {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .contact-elements a {
        margin: 1vh !important;
        height: 100px !important;
        width: 100px !important;
    }
    .contact-elements a img{
        height: 100px !important;
        width: 100px !important;
    }

    .contact-elements a img:hover {
        background-color: #9CA39B;
        border-radius: 20px !important;
    }
}

.contact-elements h1 {
    font-size: 2.2rem;
    margin-bottom: 60px;
}

.contact-elements a img{
    width: 150px;
}
.contact-elements a {
    margin: 20px;
}
.contact-elements a img:hover {
    background-color: #9CA39B;
    border-radius: 30px;
}
